*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:radial-gradient(circle at top left,#38bdf8,#0f172a,#020617);
}

.register-box{
    width:420px;
    padding:45px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(18px);
    border-radius:22px;
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:0 0 40px rgba(56,189,248,0.25);
    text-align:center;
}

.register-box h1{
    color:#38bdf8;
    margin-bottom:25px;
}

.register-box input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    outline:none;
    border-radius:12px;
    background:#0f172a;
    color:white;
}

.register-box button{
    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    border-radius:12px;
    background:#38bdf8;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.register-box button:hover{
    background:#0ea5e9;
}

.register-box p{
    margin-top:20px;
    color:#cbd5e1;
}

.register-box a{
    color:#38bdf8;
    text-decoration:none;
}